﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="UpAds.PesquisaEleitoral.Web._Default" %>
<%@ Register Src="~/Reports/UserControls/UserControlPizzaCandidatos.ascx" TagPrefix="uc1" TagName="UserControlPizzaCandidatos" %>



<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <%--<div style="height: 100%">
        <uc1:UserControlPizzaCandidatos runat="server" id="UserControlPizzaCandidatos" />
    </div>--%>
</asp:Content>
